<div class="card card-movie">
  <img [src]="movie.poster | NotFoundImage" class="card-img-top" alt="{{movie.poster}}">
  <div class="card-body">
    <h5 class="card-title">{{ movie.title }}</h5>
    <p class="card-text">{{ movie.genre }}</p>
    <a [routerLink]="['/movies', movie.id ]" class="btn btn-primary">Details</a>
    <a (click)="showDialog()" class="btn btn-danger">Delete</a>
  </div>
</div>

<p-dialog header="Header" [(visible)]="visible" [style]="{width: '50vw'}">
  <p>Delete the movie: {{ movie.title }}</p>
  <button (click)="closeDialog()" class="btn btn-primary">Cancel</button>
  <button (click)="deleteMovie(movie.id)" class="btn btn-danger">Delete</button>
</p-dialog>




