<ng-container *ngIf="isLoading; else showDetails">
  <p-progressSpinner></p-progressSpinner>
</ng-container>

<ng-template #showDetails>
    <div class="row movie-details">
      <div class="col-6">
        <h2>{{ movie.title }}</h2>
        <hr>
        <div class="movie-data">
          <div>Genres: <span class="text-muted fs-12">{{ movie.genre }}</span></div>
          <div>Rating: <span class="text-muted fs-12">{{ movie.imdbRating }}</span></div>
          <div>Duration: <span class="text-muted fs-12">{{ movie.duration | Duration }}</span></div>
        </div>

        <h5>Actors in this movie:</h5>
        <ul>
          <li *ngFor="let actor of actorsInMovie">
            <div>{{ actor.first_name }} {{ actor.last_name }} <span class="text-muted fs-12">(Gender: {{ actor.gender }}, Birthdate: {{ actor.birthdate }})</span></div>
          </li>
        </ul>
      </div>
      <div class="col-6 center-layout" >
        <div class="align-self-center">
          <img src="{{ movie.poster }}" alt="{{ movie.poster }}" class="img-details">
        </div>
      </div>
    </div>
</ng-template>



