
<div>
  <!-- (onValue)="searchByMovie($event)" -->
  <app-search-box (onDebounce)="searchByMovie($event)" ></app-search-box>
</div>
<p-toast position="top-right">
  <ng-template let-message pTemplate="message">
      <p innerHtml="{{message.detail}}"></p>
  </ng-template>
</p-toast>
<ng-container *ngIf="isLoading; else showMovies">
  <p-progressSpinner></p-progressSpinner>
</ng-container>
<ng-template #showMovies>
    <app-card-movie (movieDeleted)="receiveMovieDeleted($event)" *ngFor="let movie of movies | async;" [movie]="movie"></app-card-movie>
</ng-template>
<div>
  <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"></p-paginator>
</div>




